<!-- <h2>Add a song!</h2> -->

<h2><a href="/songs/new">Add a song!</a></h2>

<h5><a href="/users/register">(Register for an account)</a></h5>

<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id%>"><%= song.song_title %> <small>(by: <%= song.author %>)</small></a></h3>
    <p> <%= song.url %></p>
  </div>
<% end %>
