<form method="post" action="/songs">
  <div>
    <label>Song title:</label>
    <input type="text" name="song_title">
  </div>
  <div>
    <label>Artist:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>Link to song:</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
